<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">

	<test name="Home Loan">
		<classes>
			<class name="udemytestng.day3">
				<methods>
					<!--<include name="loginApiHomeLoan"></include>-->
					<exclude name="mobile.*"></exclude>
				</methods>
			</class>
		</classes>
	</test>
	<test name="Car Loan">
		<classes>
			<class name="udemytestng.day4">
				<methods>
					<exclude name="mobileLoginCarLoan"></exclude>
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->

</suite> <!--
Suite -->
